.App {
  text-align: center;
}

.bg-gray{
  background-color: #c5c0c0;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.wtc-head{
  color: red;
  font-weight: bold;
  font-size: 40px;
}

.wtc-content{
  font-size: 20px;
}

.hr {
  border: none;
  height: 7px;
  /* Set the hr color */
  color: #333;  /* old IE */
  background-color: #333;  /* Modern Browsers */
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#i634i{
  width: 100%;
}

.top-top{
  margin-top: 100px;
}

.student-image{
  width: 120px;
  height: 120px;
}

@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

.light {
	background: #f3f5f7;
}

a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

	&.dark {
		background-color: black;
	}
	&.light {
		background-color: #e1e5ea;
	}
	
	.t-dark {
		color: black;
	}
	
  a {
    color: inherit;
  }
	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: black;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px){
		.postcard__text {
      padding: 2rem 3.5rem;
    }
		
		.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      
      top: -20%;
      height: 130%;
      width: 55px;
    }
	
  .postcard.dark {
		.postcard__text:before {
			background: black;
		}
  }
	.postcard.light {
		.postcard__text:before {
			background: #e1e5ea;
		}
  }
}

.team-boxed {
  color:#313437;
  background-color: #000000;
}

.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}



.team-boxed .intro p {
  margin-bottom:0;
}

.carousel-item{
  height: 70vh;
}

.team-boxed .people {
  padding:50px 0;
}

.team-boxed .item {
  text-align:center;
}

.student-box{
  background-color: #d0d0d0;
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
}

.team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-boxed .item img {
  max-width:160px;
}

.team-boxed .social {
  font-size:18px;
  color:#a2a8ae;
}

.team-boxed .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-boxed .social a:hover {
  opacity:1;
}


.navbar{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 100;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}
.card-img{
  height: 210px;
}
.card h5{
  height: 44px;
}
.navbar-nav{
  padding-left: 50px;
}

.text-white{
  text-decoration:  none;
  color: white;
  padding-right: 20px;
}

.contact_us_2 * {
  font-family: Nunito, sans-serif;
}
.contact_us_2 .text-blk {
  margin: 0;
  line-height: 25px;
}
.contact_us_2 .responsive-cell-block {
  min-height: 75px;
}
.contact_us_2 input:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}
.contact_us_2 .container-block {
  min-height: 75px;
  width: 100%;
  padding: 10px;
  display: block;
}
.contact_us_2 .submit-btn:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #084b8f;
}
.contact_us_2 .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto 50px;
  padding: 0;
}
.contact_us_2 .responsive-container-block.big-container {
  padding: 10px 30px;
  position: relative;
  height: auto;
}
.contact_us_2 .responsive-container-block.container {
  position: static;
  min-height: 75px;
  flex-direction: column;
  z-index: 2;
  max-width: 800px;
  margin: 120px auto 50px;
}
.contact_us_2 .container-block.form-wrapper {
  background-color: #fff;
  max-width: 799px;
  text-align: center;
  padding: 50px 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 4px 20px 7px;
  border-radius: 6px;
  margin: 0 auto;
}
.contact_us_2 .text-blk.contactus-head {
  font-size: 36px;
  line-height: 50px;
  font-weight: 900;
}
.contact_us_2 .text-blk.contactus-subhead {
  color: #9c9c9c;
  margin: 0 0 50px;
}
.contact_us_2
  .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
  margin: 0 0 26px;
  min-height: 50px;
}
.contact_us_2 .input {
  width: 96%;
  height: 50px;
  padding: 1px 15px;
  border-width: 2px;
  border-style: solid;
  border-top: 2px solid #eee;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  border-color: #eee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  color: #000;
  border-radius: 4px;
}
.contact_us_2 .submit-btn,
.contact_us_2 .textinput {
  width: 98%;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 4px;
}
.contact_us_2 .textinput {
  min-height: 150px;
  padding: 20px 15px;
  border-width: 2px;
  border-style: solid;
  border-top: 2px solid #eee;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  border-color: #eee;
  font-size: 16px;
}

.contact_us_2 .submit-btn {
  background-color: #000000;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-width: 0;
  border-style: outset;
  border-top: 0 outset #767676;
  border-right: 0 outset #767676;
  border-bottom: 0 outset #767676;
  border-color: #767676;
  cursor: pointer;
}
.contact_us_2 .form-box {
  margin: 0 auto;
}
.contact_us_2 .social-media-links {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto 0;
}
.contact_us_2 .link-img {
  width: 30px;
  height: 30px;
}
.contact_us_2 .text-blk.input-title {
  text-align: left;
  padding: 0 0 0 10px;
  font-size: 14px;
  margin: 0 0 5px;
  color: #9c9c9c;
}
.contact_us_2 ::placeholder {
  color: #dadada;
}
.contact_us_2 .blueBG {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 300px;
  background-color: #000000;
}
@media (max-width: 768px) {
  .contact_us_2 .input,
  .contact_us_2 .submit-btn,
  .contact_us_2 .textinput {
    width: 100%;
  }
  .contact_us_2 .text-blk.input-title {
    padding: 0;
  }
  .contact_us_2 .responsive-container-block.container {
    margin: 80px 0 50px;
  }
  .contact_us_2 .container-block.form-wrapper {
    margin: 0;
  }
  .contact_us_2 .text-blk.contactus-head {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 500px) {
  .contact_us_2
    .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin: 0 0 15px;
  }
  .contact_us_2 .responsive-container-block {
    margin: 0 0 35px;
  }
  .contact_us_2 .text-blk.input-title {
    font-size: 12px;
  }
  .contact_us_2 .responsive-container-block.container {
    margin: 50px 0;
  }
  .contact_us_2 .container-block.form-wrapper {
    padding: 50px 15px;
    margin: 0;
  }
  .contact_us_2 .responsive-container-block.big-container {
    padding: 10px 20px;
  }
  .contact_us_2 .text-blk.contactus-head {
    font-size: 26px;
    line-height: 34px;
  }
  .contact_us_2 .input {
    height: 45px;
  }
}

.hr {
  border: none;
  height: 7px;
  /* Set the hr color */
  color: #333;  /* old IE */
  background-color: #333;  /* Modern Browsers */
}